# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Secrets
credentials.json
.env

# Bot Data & Logs (Optional: keep if you want to track progress on GitHub)
# bot_data.db
# bubble_reply_history.txt
# gsheet_logs.tsv
# reply_history.txt

# Browser Profiles
BOTBROWERPROFILE/
credentials.json
